<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }} | {{ site.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
<body>

  <header>
    <h1><a href="/">{{ site.title }}</a></h1>
    <p class="header-bio">{{ site.description }}</p>
    <ul class="nav-menu">
      <li><a href="/">Home</a></li>
      <li><a href="/pcap-analysis">PCAP</a></li>
      <li><a href="/malware-analysis">Malware</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </header>

  <div class="wrapper">
    <section>
      {{ content }}
    </section>
  </div>

  <footer>
    </footer>

</body>
</html>
