<header>
  <p class="header-title"><span>PcapExpress</span></p>
  <p class="header-bio">A place to observe and reflect on packets passing by</p>
  <nav class="nav-menu">
  <a href="/" data-description="[01] RETURN TO CENTRAL HUB">HOME</a>
  <a href="/pcap" data-description="[02] OBSERVEING REAL LIFE INFECTION EXAMPLES VIA WIRESHARK">PCAP</a>
  <a href="/bureau" data-description="[03] CAPTURE TEH FLAG WITHIN A SOC ENVIRONMENT">BUREAU</a>
  <a href="/malware" data-description="[04] MALWARE ANALISYS AND DEOBFUSCATION">MALWARE</a>
  <a href="/about" data-description="[05] ABOUT THE HANDSOME AUTHOR">ABOUT</a>
  
  <div class="description-box"></div>
  </nav>
</header>
