<header>
  <div class="header-backdrop">
    <p class="header-title"><span>‹‹‹PcapExpress›››</span></p>
  </div>
  <p class="header-bio">A place to observe and reflect on packets passing by</p>
  <nav class="nav-menu">
    <a href="/index">HOME <span class="desc">[01] RETURN TO INDEX</span></a>
    <a href="/PCAP-EXPRESS-main">PCAP <span class="desc">[02] OBSERVING REAL LIFE PCAPS UISING WIRESHARK</span></a>
    <a href="/BUREAU-SERIES-main">BUREAU <span class="desc">[03] PURPLE TEAM SHENANIGANS</span></a>
    <a href="/MALWARE-BOILER-main">MALWARE <span class="desc">[04] BASIC ANALYSIS AND DEOBFUSCATION</span></a>
    <a href="/about">ABOUT <span class="desc">[05] THE HANDSOME AUTHOR</span></a>
  </nav> 
</header>
