---
---
@import "{{ site.theme }}";

.wrapper {
  max-width: 1000px !important;
  margin: 0 auto !important;
  display: block !important;
}

body {
  background-color: #325D79 !important;
  color: #EFEEEE !important;
}

header {
  width: 100% !important;
  float: none !important;
  position: relative !important;
  text-align: center !important;
  background-color: #26465c !important;
  padding: 40px 20px !important;
  margin-bottom: 40px !important;
  border-bottom: 4px solid #F26627 !important;
}

h1, h2 {
  color: #ffffff !important;
}

h3, h4 {
  color: #9BD7D1 !important;
}

header a {
  color: #F26627 !important;
  text-decoration: none !important;
  font-weight: bold !important;
  margin: 0 10px;
}

header a:hover {
  color: #9BD7D1 !important;
}

a {
  color: #F26627 !important;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #F9A26C !important;
  text-decoration: underline;
}

ul li {
  list-style: none;
  background: #26465c;
  margin-bottom: 12px;
  padding: 20px;
  border-left: 5px solid #F26627;
  border-radius: 4px;
  color: #EFEEEE;
}

section {
  width: 100% !important;
  float: none !important;
  margin: 0 auto !important;
}

footer {
  width: 100% !important;
  float: none !important;
  text-align: center !important;
  color: #9BD7D1 !important;
  padding: 30px 0 !important;
}
